body {
	background: #222;
	color: #fff;
}
h1 {
	color: #F4F38A;
}
.faded {
  color: #F5E3C3;
  font-size: large;
}
#quiz-counter {
  color: #F4F38A;
  margin-bottom: 10px;
}
.quiz-container {
    padding: 0.25em;
    max-width: 650px;
    margin: 1em auto;
}

.quiz-container a {
    text-decoration: none;
    color: #333;
}

#quiz-header,
#quiz-start-screen,
#quiz-results-screen,
#quiz-counter {
    text-align: center;
    font-family: "Calibri", "Helvetica Neue";
    padding: 30px 0 0 0;
}

.question {
    font-size: 1.25em;
}

.answers {
    list-style: none;
    padding: 0;
}

.answers a {
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background: #fff;
}

.answers a.correct {
    background: #090;
}
.answers a.incorrect {
    background: #c00;
}

.answers a.correct,
.answers a.incorrect {
    color: #fff;
}

#quiz-controls1 {
    background: #F4F38A;
    color: #111;
    padding: 0.25em 0.5em 0.5em;
	text-align: center;
}

#quiz-response {}
#quiz-results {
    font-size: 1.25em;
}

#quiz-buttons a,
.quiz-container .quiz-button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #F4F38A;
    color: #000;
	margin: 10px 0;
}
#quiz-buttons a {
    background: #fff;
    color: #333;
}

/* Quiz State Overrides */

.quiz-results-state #quiz-controls1 {
    background: none;
    padding: 0;
	text-align: center;
}
.quiz-results-state #quiz-buttons a {
    background: #F4F38A;
    color: #000;
}
.quiz-start-motto{
    font: serif;
	margin: 10px 0;
}
.vid{
text-align: center;
}
.videopic{
margin: 5px 10px 10px 5px;
}
.videodescription{
color: #F4F38A;
}
